<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>भजन पुस्तके</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <!-- Header -->
    <%- include('partials/header') %>

    <!-- Main Content: List of Bhajan Books -->
    <main>
    
        <div class="heading_container">
            <h1>भजन पुस्तके</h1>
        </div>


        <div class="search_container">
        <form action="/search" method="GET" class="search_container_form">
            <input
                type="text"
                name="query"
                placeholder="Search..."
                class="search_bar"
            />
            <button type="submit" class="search_button">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

        <table class="styled-table2">
            <thead>
                <tr>
                    <th>भजन पुस्तक</th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach(function(book) { %>
                    <tr>
                        <td><a href="/bhajan-books/<%= book.book_id %>"><%= book.book_name %></a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

             
    </main>

    <!-- Footer -->
        <%- include('partials/footer') %>

</body>
</html>